@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

*{
  box-sizing:border-box;
  margin:0;
  padding:0;
  font-family:'Comfortaa',sans-serif;
  font-weight: 700;
}

body{
  background: rgb(36, 35, 35);
}
h1,h4,p,
a{
  color: rgb(255, 255, 255);
  text-decoration: none;
}

ul{
  list-style-type:none;
}

.btn{
  padding:12px 32px;
  font-size:1rem;
  text-transform: uppercase;
  background: rgb(212, 215, 17);
  color:#222;
  border:1px solid #fff;
  font-weight: 600;
  cursor: pointer;
}

.btn-light{
  background: transparent;
  color:#fff;
}

.btn:hover{
  background: rbga(255,255,255,0.2);
  color:#fff;
  transition: 0.3s;
}